.App {
  top: 0;
  text-align: center;
   
  width: 100%;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.main {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  text-transform: uppercase;
}
.main input {
  width: 40%;
  height: 5vh;
  background: cornsilk;
  border: 1px solid black;
  border-radius: 0px;
  font-size: larger;
  text-transform: uppercase;
  padding-right: 2px;
}
.main input:hover {
  width: 40%;
  height: 5vh;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 0px;
  color: rgb(255, 0, 0);
  font-size: larger;
}

.data1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 30px;
  height: 40vh;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  font-size: 25px;
  color: rgb(0, 0, 0);
  border-radius: 35px;
  font-family: serif;
  text-transform: uppercase;
  height: 100%;
}
.data {
  justify-content: center;
  display: flex;
  height: 80%;
}
button img {
  height: 33px;
  border-radius: 15px;
}
button {
  background-color: burlywood;
}
.logo-class {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0;
  align-items: stretch;
  height: 30%;
}
.logo-class h4 {
  margin-right: 25px;
  font-size: 20px;
}
.logo-class img {
  width: 25px;
}

@media (220px <= width <= 320px) {
  button {
    border-radius: 0px;
    background-color: burlywood;
  }
  .main {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    text-transform: uppercase;
  }
  .main input {
    width: 60%;
    height: 5vh;
    background: cornsilk;
    border: 1px solid black;
    border-radius: 0px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .main input:hover {
    width: 60%;
    height: 5vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
    color: rgb(255, 0, 0);
    font-size: 13px;
    border-radius: 0px;
  }
  button img {
    height: 24px;
  }
  .data1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
    height: 40vh;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-size: 15px;
    color: rgb(0, 0, 0);
    border-radius: 35px;
    font-family: serif;
    text-transform: uppercase;
    height: 100%;
  }
  .data {
    justify-content: center;
    display: flex;
    height: 60%;
  }
  .logo-class {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0;
    align-items: stretch;
    height: 20%;
  }
  .logo-class h4 {
    margin: 7px;
    font-size: 10px;
  }
  .logo-class img {
    width: 20px;
  }
}
@media (321px <= width <= 375px) {
  button {
    border-radius: 0px;
    background-color: burlywood;
  }
  .main {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    text-transform: uppercase;
  }
  .main input {
    width: 60%;
    height: 5vh;
    background: cornsilk;
    border: 1px solid black;
    border-radius: 0px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .main input:hover {
    width: 60%;
    height: 5vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
    color: rgb(255, 0, 0);
    font-size: 13px;
    border-radius: 0px;
  }
  button img {
    height: 20px;
  }
  .data1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
    height: 40vh;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-size: 15px;
    color: rgb(0, 0, 0);
    border-radius: 35px;
    font-family: serif;
    text-transform: uppercase;
    height: 100%;
  }
  .data {
    justify-content: center;
    display: flex;
    height: 60%;
  }
  .logo-class {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0;
    align-items: stretch;
    height: 20%;
  }
  .logo-class h4 {
    margin: 7px;
    font-size: 13px;
  }
  .logo-class img {
    width: 20px;
  }
}
@media (376px <= width <= 425px) {
  button {
    border-radius: 0px;
    background-color: burlywood;
  }
  .main {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    text-transform: uppercase;
  }
  .main input {
    width: 60%;
    height: 5vh;
    background: cornsilk;
    border: 1px solid black;
    border-radius: 0px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .main input:hover {
    width: 60%;
    height: 5vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
    color: rgb(255, 0, 0);
    font-size: 13px;
    border-radius: 0px;
  }
  button img {
    height: 24px;
  }
  .data1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
    height: 40vh;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-size: 15px;
    color: rgb(0, 0, 0);
    border-radius: 35px;
    font-family: serif;
    text-transform: uppercase;
    height: 100%;
  }
  .data {
    justify-content: center;
    display: flex;
    height: 60%;
  }
  .logo-class {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0;
    align-items: stretch;
    height: 20%;
  }
  .logo-class h4 {
    margin: 7px;
    font-size: 13px;
  }
  .logo-class img {
    width: 20px;
  }
}
@media (426px <= width <= 550px) {
  button {
    border-radius: 0px;
    background-color: burlywood;
  }
  .main {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    text-transform: uppercase;
  }
  .main input {
    width: 60%;
    height: 5vh;
    background: cornsilk;
    border: 1px solid black;
    border-radius: 0px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .main input:hover {
    width: 60%;
    height: 5vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
    color: rgb(255, 0, 0);
    font-size: 13px;
    border-radius: 0px;
  }
  button img {
    height: 24px;
  }
  .data1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
    height: 40vh;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-size: 15px;
    color: rgb(0, 0, 0);
    border-radius: 35px;
    font-family: serif;
    text-transform: uppercase;
    height: 100%;
  }
  .data {
    justify-content: center;
    display: flex;
    height: 60%;
  }
  .logo-class {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0;
    align-items: stretch;
    height: 20%;
  }
  .logo-class h4 {
    margin: 7px;
    font-size: 13px;
  }
  .logo-class img {
    width: 20px;
  }
}
@media (551px <= width <= 650px) {
  button {
    border-radius: 0px;
    background-color: burlywood;
  }
  .main {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    text-transform: uppercase;
  }
  .main input {
    width: 60%;
    height: 5vh;
    background: cornsilk;
    border: 1px solid black;
    border-radius: 0px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .main input:hover {
    width: 60%;
    height: 5vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0px;
    color: rgb(255, 0, 0);
    font-size: 13px;
    border-radius: 0px;
  }
  button img {
    height: 24px;
  }
  .data1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
    height: 40vh;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-size: 15px;
    color: rgb(0, 0, 0);
    border-radius: 35px;
    font-family: serif;
    text-transform: uppercase;
    height: 100%;
  }
  .data {
    justify-content: center;
    display: flex;
    height: 60%;
  }
  .logo-class {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0;
    align-items: stretch;
    height: 20%;
  }
  .logo-class h4 {
    margin: 7px;
    font-size: 13px;
  }
  .logo-class img {
    width: 20px;
  }
}
